.footIcon {
    display: flex;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

@media only screen and (max-width: 767px) {

    footer{
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
}